.App {
  background-color: #282c34;
  background-image: url('../src/images/rickandmorty.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #282c34;
}

select {
  background-color: slateblue;
  color: lightgreen;
  height: 35px;
  font-size: 20px;
}

select:hover {
  border-width: 1.7px;
  border-color: lightgreen;
}

.links,
.return {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: lightgreen;
  width: 120px;
}

.links {
  margin-bottom: 20px;
}

.return {
  width: 100px;
  margin-bottom: 10px;
}

.links:hover, .return:hover {
  background-color: slateblue;
  color: white;
}

.home-main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70vw;
}

.personagens-div,
.congratulations-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.congratulations-div {
  font-size: 25px;
}

.main-personagens-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 70vw;
}

/* .card-container {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
} */

.hit {
  /* filter: grayscale(100%); */
  filter: opacity(30%)
}

.back, .front {
  background-color: slateblue;
  display: flex;
  flex-direction: column-reverse;
  width: 200px;
  height: 300px;
  margin: 10px;
}

.front {
  justify-content: center;
}

/* .back:hover {
  transform: rotateY(180deg);
  transition: transform 0.8s;
} */

.back p {
  font-size: 27px;
}

.details-link {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1400px) {
  .App{
    background-position: 98% 100%;
    background-size: 660px 420px;
    background-repeat: no-repeat;
    background-color: #262a3a;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .App{
    background-position: 80% 100%;
    /* background-size: 660px 420px;
    background-repeat: no-repeat;
    background-color: #262a3a;
    justify-content: flex-start; */
  }

  .main-app {
    margin-top: 30px;
  }

  .back, .front {
    width: 53px;
    height: 80px;
    margin: 5px;
  }

  .front h4, .back p {
    font-size: 8px;
  }

  .personagens-div {
    width: 100vw;
  }

  .main-personagens-div {
    min-width: 320px;
  }

  .home-main-content {
    width: 90vw;
  }
}
